body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 40px 80px 0px;
  padding: 20px;
  border: 2px solid rgb(176, 174, 174);
  width: 800px;
  color: rgb(48, 46, 46);
}
h1 {
  color: rgb(110, 110, 116);
}

ul {
  list-style: none;
}
#fahrenheit-link,
#celsius-link {
  text-decoration: none;
}
.temperature .active {
  color: rgb(48, 46, 46);
  cursor: default;
}
#current-temperature {
  font-size: 32px;
  font-weight: 500;
}
sup {
  font-size: 16px;
}
small {
  font-size: 10px;
}
small {
  margin: 0px 80px;
}
