body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 40px 80px 0px;
  padding: 30px;
  border: 3px solid rgb(176, 174, 174);
  width: 850px;
  color: rgb(48, 46, 46);
  border-radius: 4px;
}
.form-control {
  border: 1px solid rgb(176, 174, 174);
}
.btn {
  background-color: rgb(63, 34, 90);
  border: 1px solid rgb(63, 34, 90);
}
.btn:hover {
  transition: 300ms ease-in-out;
  background-color: rgb(47, 25, 67);
  border: 1px solid rgb(47, 25, 67);
}
h1 {
  color: rgb(73, 73, 75);
  padding: 8px;
}
ul {
  list-style: none;
}
#fahrenheit-link,
#celsius-link {
  text-decoration: none;
}
.temperature .active {
  color: rgb(48, 46, 46);
  cursor: default;
}
#current-temperature {
  font-size: 32px;
  font-weight: 500;
}
.today {
  font-size: large;
  color: rgb(98, 98, 98);
}
sup {
  font-size: 16px;
}
small {
  font-size: 10px;
  margin: 0px 80px;
}
.forecast {
  text-align: center;
  font-size: large;
  font-weight: 500;
}
.forecast-temperature-min {
  color: rgb(114, 113, 113);
}
