.body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 40px 80px 0px;
  padding: 20px;
  border: 2px solid rgb(176, 174, 174);
  width: 800px;
}
small {
  margin: 0px 80px;
}
ul {
  list-style: none;
}
